.global-style {
    display: grid;
    text-align: center;
    justify-items: center; 
}

.logout-bttn {
    background-color: #FF6B6B;
    color: white;
    border: none;
    margin-right: 20px;
    margin-top: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    justify-self: end;
}

.user-profile {
    display: block;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-self: start;
}

.bodyBlogsList {
    display: flex;
    width: 100%;
    
    & .blogs-form {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        margin-right: 20px;
        background: rgb(245, 247, 250);
        width: 30%;
        height: 60dvh;

        & .blog-form {
            padding-top: 40px;
        }

        & input {
            display: block;
            margin: 8px;
            width: 300px;
        }

        & button {
            width: 150px;
            color: white;
            background: rgb(94, 94, 241);
            font-weight: bold;
            cursor: pointer;
        }
    }

    & .blogs-table {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 70%;

        & .table {
            display: flex;
            place-content: center;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: Arial, sans-serif;
    min-width: 400px;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #4189c4;
    color: #ffffff;
    font-weight: bold;
}

th, td {
    text-align: center;
    padding: 12px 15px;
    border: 1px solid #dddddd;
}